*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: white;
}

.piano {
    display:flex;
}

tone-piano {
    margin-bottom: 10px;
}

.key{
    height: calc(var(--width) * 4);
    width: var(--width);
}

.white{
    --width: 64.8px;
    background-color: white;
    border: 1px solid rgb(122, 122, 122);
}
.white.active{
    background-color: rgb(255, 100, 100);
}

.black{
    --width: 38.88px;
    background-color: black;
    border: 1.8px solid black;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    z-index: 2;
}
.black.active{
    background-color: rgb(255, 100, 100);
}