*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: white;
}

.piano {
    display:flex;
}

tone-piano {
    margin-bottom: 10px;
}

.key{
    height: calc(var(--width) * 4);
    width: var(--width);
}

.white{
    --width: 67px;
    background-color: white;
    border: 1px solid rgb(122, 122, 122);
}
.white.active{
    background-color: rgb(255, 100, 100);
}

.black{
    --width: 40.2px;
    background-color: black;
    border: 1.8px solid black;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    z-index: 2;
}
.black.active{
    background-color: rgb(255, 100, 100);
}

.card {
    box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
    height: 55vh;
}

.dropdown-menu li {
    position: relative;
  }
  .dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }
  .dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
  }
  .dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
  }